#brands-container{
    /*border: 1px solid blue;*/
    text-align: left;
    max-width: 300px;
}
.brand-checkbox{
    margin-right: 7px;
}
.brand-container-elem{
    /*border: 1px solid green;*/
    margin: 7px;
}