#product-filters-container{
    font-size: 20px;
}
#price-container{
    /*border: 1px solid purple;*/
    max-width: 300px;
    margin-top: 10px;
    color: red;
}
.filter{
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    /*border: 2px solid orangered;*/
    background-color: white;
    box-shadow: none;
}
.filter h3{
    text-align: left;
    font-weight: bold;
}