@import "reset.css";

#main-container {
    height: 1000px;
    background-color: #e9ebee;
    padding-top: 50px;
    /*justify-content: center;*/
    /*display: flex;*/
}

#main-top-container {
    width: 1400px;
    height: 550px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    background-color: white;
    box-shadow: gray 0 0 5px;
    border-radius: 3px;
}

#picture-menu-nav-container {
    display: flex;
    justify-content: center;
    position: relative;
}



#main-top-nav-container {
    /*border: 2px solid #bc0a17;*/
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
    padding: 50px 15px 10px 15px;
    /*background-color: white;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    /*width: 25%;*/
}

#main-menu-nav-text {
    color: black;
    padding: 10px 10px 10px 10px;
    /*border: 1px solid black;*/
    font-size: 24px;
    text-align: left;
}

#main-pictures-container {
    width: 75%;
    height: 450px;
    /*background-color: hotpink;*/
    /*width: 1200px;*/
    /*height: 450px;*/
    /*padding: 10px;*/
    position: absolute;
    left: 25%;
    top: 0;
}

.slideshow-container {
    /*position: absolute;*/
    margin: auto;
    /*border: 5px solid orangered;*/
    /*left: 15%;*/
    /*top: 0;*/
    width: 100%;
    height: 100%;
}

.image {

    width: 100%;
    height: 100%;
    /*z-index: 2;*/
}

#image-button-container {
    margin: 18% auto;
    position: absolute;
    border: 4px solid black;
    width: 100%;
    z-index: 3;
}

#image-button-next, #image-button-prev  {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    /*margin-top: -22px;*/
    color: white;
    font-weight: bold;
    font-size: 18px;
    /*transition: 0.6s ease;*/
    /*border-radius: 50%;*/
    /*user-select: none;*/
    border: none;
    background: rgba(0,0,0,0);
}

#image-button-next:hover {
    /*background-color: rgba(0,0,0,0.8);*/
    background-color: red;
    color: white;

}
#image-button-prev:hover {
    /*background-color: rgba(0,0,0,0.8);*/
    background-color: red;
    color: white;

}
#image-button-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#image-button-prev {
    margin-left: 10px;
    border-radius: 3px 0 0 3px;
    left: 0;
}

.fade {
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
    from {opacity: .4}
    to {opacity: 1}
}

@-moz-keyframes fadeIn {
    from {opacity: .4}
    to {opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: .4}
    to {opacity: 1}
}

@-o-keyframes fadeIn {
    from {opacity: .4}
    to {opacity: 1}
}

@-ms-keyframes fadeIn {
    from {opacity: .4}
    to {opacity: 1}
}