@import "../reset.css";

#header-container {
    margin-top: 0;
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 10;
    top: 0;
}

.wrapper {
    border: 1px solid white;
    height: 100%;
}

.icon {
    color: white;
    float: left;
    margin: 20px ;
    cursor: pointer;
}
.icon-user{
    color: white;
    float: left;
    margin: 20px 0 20px 20px;
    cursor: pointer;
}
#logo{
    width: 250px;
    margin-left: 10px;
    border: 1px solid white;
}
#search-input {
    height: 32px;
    width: 90%;
    border: 0;
    border-radius: 2px 0 0 2px;
}

#search-button {
    padding: 0;
    height: 34px;
    width: 10%;
    background-color: white;
    margin-left: 0;
    box-shadow: none;
    border: 0;
    border-radius:0 2px 2px 0;

}
#search-button:hover {
    background-color: dodgerblue;
    color: white;
}
#form-wrapper{
    text-align: center;
    margin-left: 150px;
    width: 700px;
}
.form {
margin: 15px 40px;
    display: flex;

}
.text{
    color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 10px;
}
#account-wrapper{
    width: 200px;
    display: flex;
    margin-left: 150px;
}

#cart-wrapper .icon-user{
    font-size: 25px;
    margin-top: 25px;
}

#cart-wrapper{
    width: 200px;
}
#header-nav-menu{
    position: absolute;
    top: 60px;
    left: 70px;
}